// Profile CSS

body {
	text-align: center;
}

img {
	border-radius: 50%;
	vertical-align: middle;
}

.connections {
	width: 350px;
	margin: auto;

	p {
		text-align: left;
		white-space: nowrap;
	}
}

.zocial {
	background-image: none;
	width: 250px;
	font: inherit !important;
	background-image: none !important;
	font-weight: bold !important;
}

.zocial.icon {
	vertical-align: middle;
}

.profile {
	margin-top:5em;
	margin-bottom:2em;
	img {
		width:100px;
		height:100px;
		background: data-uri('avatar.svg');
	}
}

.connections {
	img {
		margin: 0 0.5em;
	}
}
