body {
  text-align: center;
}
img {
  border-radius: 50%;
  vertical-align: middle;
}
.zocial.icon {
  vertical-align: middle;
}
.profile {
  margin-top: 5em;
  margin-bottom: 2em;
}
.profile img {
  width: 100px;
}
.connections img {
  margin: 0 0.5em;
}
