doctype html
html
	head
		title
			= "Authentication Error"
		script(src="//adodson.com/adorn/adorn.js", async)
		link(rel="icon", href="//adodson.com/favicon.ico")
		link(rel="stylesheet", href="//adodson.com/adorn/adorn.css")

	body
		include head

		h1= "Logged out"

		p= "You have logged out from //auth-server"
