<!DOCTYPE html>
<html ng-app='app'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
<!-- use the latest IE browser always, and optionally use chrome frame if installed -->
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
<script src="/_packages/document.js"></script>
<script src="/_packages/angular.min.js"></script>
<script src="/hello.js/dist/hello.all.min.js"></script>
<script src="./client_ids.js"></script>
<script src="./controller.js"></script>
<link href="/_packages/document.css" rel="stylesheet"/>
<style>
table.apps td{
	max-width:200px;
	overflow: hidden;
	text-overflow:ellipsis;
}
table.apps td textarea{
	width:100%;
	height:100%;
	border:none;
	background:transparent;
	font-family: inherit;
	font-size:1rem;
}

.alert{
	border:2px solid #fbeed5;
	display: block;
	padding:2px;
	color:#c09853;
	background-color:#fcf8e3;
}

</style>
<title>// Auth Server</title>
<body ng-controller="controller">
<h1>// auth-server</h1>
<blockquote>
<p>//auth-server is an implementation of <a href="https://github.com/MrSwitch/node-oauth-shim">node-oauth-shim</a> a RESTful OAuth2 and OAuth1 serverside authentication and authorisation library.

</blockquote>

<p>The <a href="http://adodson.com/hello.js">HelloJS</a> client side library uses this service by default, just provide your app id's below.</p>

<!--NO-MARKDOWN-->

<button ng-repeat="item in profiles" ng-click="item.signin()"><span ng-show="!item.name">Signin with {{item.network}}</span><span ng-show="item.name">Signed in as {{item.name}}</span></button>

<h2 ng-show="!!defaultProfile">Manage apps</h2>

<p class="alert" ng-show="!defaultProfile">Signin above to manage your apps</p>

<p ng-show="!!defaultProfile">Place your application credentials in the table below</p>

<table class="apps" ng-show="!!defaultProfile">
	<thead>
		<tr>
			<td ng-repeat="name in fields">{{name}}</td>
			<td>Action</td>
		</tr>
	<thead>
	<tbody>
		<tr ng-repeat="item in apps">
			<td ng-repeat="name in fields"><textarea ng-model="item[name]"></textarea></td>
			<td><button ng-click="postApp(item)">Save</button> <button ng-click="deleteApp(item)">Delete</button></td>
		</tr>
	<tbody>
	<tfoot>
		<tr>
			<td colspan="5"><button ng-click="addApp()">Add New</button> <button ng-click="saveApps()">Save</button></td>
		</tr>
	</tfoot>
</table>
<!--/NO-MARKDOWN-->

</body>
</html>