<!DOCTYPE html>
<html ng-app='app'>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/> 
<!-- use the latest IE browser always, and optionally use chrome frame if installed -->
<meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1" />
<script src="/_packages/document.js"></script>
<script src="/_packages/angular.min.js"></script>
<script src="/hello.js/dist/hello.all.js"></script>
<script src="./client_ids.js"></script>
<script src="./controller.js"></script>
<link href="/_packages/document.css" rel="stylesheet"/>
<style>
table.apps td{
	max-width:200px;
	overflow: hidden;
	text-overflow:ellipsis;
}
</style>
<title>HelloJS Server</title>
<body ng-controller="controller">
<h1>// auth-server</h1>
<blockquote>
	<p>//auth-server provides a "shim" service for web apps or browser extensions wanting to take advantage of OAuth2 and OAuth1 server side authentication in their static apps.
</blockquote>

<h2>Developers</h2>

<p>The <a href="http://adodson.com/hello.js">HelloJS</a> client side library supports this service by default. You dont need to read the docs here just register <a href='#my-apps'>your app ids</a> below.</p>
<p>However if your writing your own client side code then the <a href="#documentation">documentation</a> below should help you get started.</p>

<h2>My Apps</h2>

<h3>1. Identify yourself</h3>

<button ng-repeat="item in profiles" ng-click="item.signin()"><span ng-show="!item.name">Signin with {{item.network}}</span><span ng-show="item.name">Signed in as {{item.name}}</span></button>

<h3>2. Manage apps</h3>

<p ng-show="!defaultProfile">Signin to manage apps</p>

<p ng-show="!!defaultProfile">Place your application credentials in the table below</p>

<table class="apps" ng-show="!!defaultProfile">
	<thead>
		<tr>
			<td ng-repeat="name in fields">{{name}}</td>
			<td>Action</td>
		</tr>
	<thead>
	<tbody>
		<tr ng-repeat="item in apps">
			<td ng-repeat="name in fields" ng-model="item[name]" contenteditable="true" ></td>
			<td><button ng-click="postApp(item)">Save</button> <button ng-click="deleteApp(item)">Delete</button></td>
		</tr>
	<tbody>
	<tfoot>
		<tr>
			<td colspan="5"><button ng-click="addApp()">Add New</button> <button ng-click="saveApps()">Save</button></td>
		</tr>
	</tfoot>
</table>

<h2>Documentation</h2>

<h3>Authentication OAuth 2.0</h3>

<p>The OAuth2 flow starts when your application sends a client out to a providers site to grant permissions. The response is an authorization code "[AUTH_CODE]" which is returned to your site, this needs to be exchanged for an Access Token. Your page then needs to send this code to the //auth-server with your client_id in exhchange for an access token, e.g.</p>

<pre>
https://auth-server.herokuapp.com/proxy
?redirect_uri=[REDIRECT_PATH]
&code=[AUTH_CODE]
&client_id=[APP_KEY]
&network=[NETWORK_NAME]
&state=[STATE]
</pre>

<p>The client will be redirected back to the location of [REDIRECT_PATH], with the contents of the server response as well as whatever was defined in the [STATE] in the hash. e.g...

<pre>
[REDIRECT_PATH]#state=[STATE]&access_token=ABCD1233234&expires=123123123
</pre>


<h3>Authentication OAuth 1.0</h3>

<p>OAuth 1.0 has a number of steps so forgive the verbosity here. An app is required to make an initial request to the //auth-server, which in-turn initiates the authentication flow.</p>

<pre>
https://auth-server.herokuapp.com/proxy
?redirect_uri=[REDIRECT_PATH]
&request=[OAUTH_REQUEST_TOKEN_URL]
&auth=[OAUTH_AUTHORIZATION_URL]
&token=[OAUTH_TOKEN_URL]
&client_id=[APP_KEY]
&state=[STATE]
&network=[NETWORK_NAME]
</pre>

<p>//auth-server signs the client request and redirects the user to the providers login page defined by [OAUTH_AUTHRIZATION_URL].</p>

<p>Once the user has signed in they are redirected back to a page on the developers app defined by [REDIRECT_PATH].</p> 

<p>The provider should have included an oauth_callback parameter which was defined by //auth-server, this includes part of the path where the token can be returned for an access token. The total path response shall look something like this.</p>

<pre>
[REDIRECT_PATH]?state=[STATE]
&proxy_url=https://auth-server.herokuapp.com/proxy
&token_url=[OAUTH_TOKEN_URL]
&redirect_uri=[REDIREC_PATH]
&request=[OAUTH_REQUEST_TOKEN_URL]
&auth=[OAUTH_AUTHORIZATION_URL]
&token=[OAUTH_TOKEN_URL]
&client_id=[APP_KEY]
&oauth_token=abc12465
</pre>

<p>The page you defined locally as the [REDIRECT_PATH], must then construct a call to //auth-server to exchange the unauthorized oauth_token for an access token. This would look like this...</p>

<pre>
https://auth-server.herokuapp.com/proxy
?oauth_token=abc12465
&redirect_uri=[REDIRECT_PATH]
&state=[STATE]
&token=[OAUTH_TOKEN_URL]
&client_id=[APP_KEY]
&network=[NETWORK_NAME]
</pre>

</p>Finally the //auth-server returns the access_token to your redirect path and its the responsibility of your script to store this in the client in order to make subsequent API calls.</p>
<pre>
[REDIRECT_PATH]#state=[STATE]&access_token=ABCD1233234&expires=123123123
</pre>

<p>This access token still needs to be signed via //auth-server every time an API request is made - read on...</p>


<h3>OAuth 1.0 signing API Requests</h3>

<p>The OAuth 1.0 API requires that each request is uniquely signed with the application secret. This restriction was removed in OAuth 2.0.</p>
<p>To sign a request to [API_PATH], use the [access_token] returned in OAuth 1.0 above and send to the auth-server</p> 

<pre>
https://auth-server.herokuapp.com/proxy?access_code=[ACCESS_CODE]&path=[API_PATH]
</pre>
<p>The response redirects the requests to the [API_PATH] and signs it for you. e.g.</p>
<pre>
[API_PATH]?oauth_token=asdf&oauth_consumer_key=asdf&...&oauth_signature=1234
</pre>

<p>Yes its a nightmare which fortunatly OAuth2 has addressed</p>

</body>
</html>