	*{
		box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	html{
		background-color: white;
	}
	body{
		font-family: helvetica;
		display: inline-block;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		padding:0;
		margin: 0;
		height:100%;
		display: table-cell;
	}

	button{
		background: #10A54A;
		color: white;
		padding: 5px 10px;
		border: 0;
		font-size: 1.2em;
		border-radius: 4px;
		display: inline-block;
		margin:1px;
	}

	section{
		padding:20px;
		text-align: center;
		max-width:500px;
		min-height:400px;
		margin:0 auto;
		display: none;
	}

	section.selected{
		display: block;
	}

	#signin > button{
		min-width:200px;
		max-width:100%;
		padding:5px 10px;
		background-color: #0F6AB4;
	}
	#accounts{
		padding:0 20px;
	}

	form{
		display: none;
		text-align: left;
	}
		#error{
			display: block;
			color: red;
			font-size: 1.2em;
			border: 1px solid red;
			margin: 10px 0;
			background-color: #FEE;
			padding: 10px;
		}
		#error:empty{
			display: none;
		}
		label{
			text-align: left;
			display: inline-block;
		}
			label img{
				height:24px;
				width:24px;
				vertical-align: middle;
				margin:0 10px;
			}
		label,label+input{
			width:45%;
		}
		label+input{
			width:50%;
			min-width:200px;
		}
		input + label{
			width:auto;
		}
		input{
			font-size:1.2em;
		}
		input[readonly]{
			background-color:#ddd;
			color:#999;
			border:1px solid #aaa;
		}

	.selected{
		display: block;
	}
	.selected + .alternative{
		display:none;
	}

	#about.selected ~ a.about{
		display:none;
	}

